##
#    ~/.envrc
#
#  Used to configure all my POSIX compatible shells.
#  Not used for fish.
#
#  Configure initial values of $PATH and environment
#  variables you wish child processes, perhaps other
#  shells, to initially inherit.
#
#  This was traditionally done in .profile or .bash_profile
#  whenever a login shell was created.  Unfortunately,
#  in many cases, there is no guarantee anymore that these
#  files were previously sourced.
#
#  Out of the blue, GNOME 3 gdm on ARCH began
#  non-interactively sourcing .profile.
#
# shellcheck shell=sh
# shellcheck source=/dev/null

## Sentinel value to mark completion ofan initial environment configuration
export _ENV_INITIALIZED=${_ENV_INITIALIZED:=0}
_ENV_INITIALIZED=$(( _ENV_INITIALIZED + 1 ))

# Set locale so commandline tools & other programs default to unicode
export LANG=en_US.utf8

## Construct the shell's PATH for all my different computers
#
#  Non-existent path and duplicate path elements
#  will be dealt with near end of script via ~/.local/bin/pathtrim
#

# Save original PATH
[ -z "$VIRGIN_PATH" ] && export VIRGIN_PATH="$PATH"

# On iMac Brew installs symlinks here
PATH=/usr/local/sbin:$PATH

# If there is a ~/bin directory, put near end
PATH="$PATH":~/bin

# Put relative directories at end of PATH, this is for
# projects where the user takes up residence in the project's
# root directory.
PATH="$PATH":bin:./bin

# Rudy tool chain
#   Mostly for the Ruby Markdown linter,
#   to install linter: $ gem install mdl
if [ -d ~/.local/share/gem/ruby ]
then
    eval PATH=~/.local/share/gem/ruby/*/bin:"$PATH"
fi

# Location Rust Toolchain
PATH=~/.cargo/bin:"$PATH"

# Utilities I want to overide everything
PATH=~/.local/bin:~/opt/bin:"$PATH"

# Clean up PATH - remove duplicate and non-existent path entries
PATH=$(pathtrim)

if digpath -q nvim
then
    export EDITOR=nvim
    export VISUAL=nvim
    export MANPAGER="nvim -c 'set ft=man' -"
    export PAGER='nvim -R'
elif digpath -q vim
then
    export EDITOR=vim
    export VISUAL=vim
else
    export EDITOR=vi
    export VISUAL=vi
fi

## Python configuration
export PYTHONPATH=lib:../lib
export PIP_REQUIRE_VIRTUALENV=true
