[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/grscheller/nvim
[submodule "config/fish"]
	path = config/fish
	url = https://github.com/grscheller/fish
[submodule "home"]
	path = home
	url = https://github.com/grscheller/home
