[Unit]
Description=Dynamic output configuration for wlroots compositors
Documentation=https://sr.ht/~emersion/kanshi/
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always

[Install]
WantedBy=sway-session.target
