[Unit]
Description=Dynamic output configuration for wlroot compositors
Documentation=man:kansh(1)
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always

[Install]
WantedBy=sway-session.target
